name: Dev Container Build and Push Image

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v1
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Pre-build dev container image v2.19.3
      uses: devcontainers/ci@v0.2
      with:
        subFolder: .github
        imageName: ghcr.io/${{ github.repository }}
        cacheFrom: ghcr.io/${{ github.repository }}
        imageTag: "v2.19.3,latest"
        push: always
    - name: Update devcontainer.json to use v2.18.10
      run: |
        jq '.features."ghcr.io/devcontainers-extra/features/ansible".version="v2.18.10"' .github/.devcontainer/devcontainer.json > tmp.$$.json && mv tmp.$$.json .github/.devcontainer/devcontainer.json
    - name: Pre-build dev container image v2.18.10
      uses: devcontainers/ci@v0.2
      with:
        subFolder: .github
        imageName: ghcr.io/${{ github.repository }}
        cacheFrom: ghcr.io/${{ github.repository }}
        imageTag: "v2.18.10"
        push: always
