name: Dev Container Build and Push Image

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"
env:
  ansible_latest: "v2.19.3"
permissions:
  contents: read
  packages: write
jobs:
  build-and-push:
    strategy:
      matrix:
        ansible: ["v2.20.0", "v2.19.3", "v2.18.10"]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v1
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Update devcontainer.json to use ${{ matrix.ansible }}
      run: |
        jq '.features."ghcr.io/devcontainers-extra/features/ansible".version="${{ matrix.ansible }}"' .github/.devcontainer/devcontainer.json > tmp.$$.json && mv tmp.$$.json .github/.devcontainer/devcontainer.json
    - name: Pre-build dev container image ${{ matrix.ansible }}
      uses: devcontainers/ci@v0.3
      with:
        subFolder: .github
        imageName: ghcr.io/${{ github.repository }}
        cacheFrom: ghcr.io/${{ github.repository }}:v${{ matrix.ansible }}
        imageTag: "${{ matrix.ansible }}${{ matrix.ansible == env.ansible_latest && ',latest' || ''}}"
        push: always
